body{
    background-color: #383838;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    color: white;
}

section{
    width:50%;
    background-color: rgb(239,235,228);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.div1{
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 25px;
    margin: 8px;
}

#div2{
    background-color: rgb(12,112,242);
    width: 200px;
    height: 28px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}